@import '~assets/styles/abstracts';

.Footer {
  display: flex;
  background: $white;
  padding: $footer-padding-top-y-sm $page-margin-x-sm
    $footer-padding-bottom-y-sm;
}

.Footer__logo {
  width: $footer-content-width-sm;
  height: auto;
}

.Footer__link {
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
}

@include tablet {
  .Footer {
    padding: $footer-padding-top-y-md $page-margin-x-md
      $footer-padding-bottom-y-md;
  }

  .Footer__button {
    img {
      height: $footer-content-height-md;
    }
  }

  .Footer__logo {
    width: $footer-content-width-md;
  }
}

@include desktop {
  .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 0;
    background: none;
  }
}
