@import '../../../assets/styles/abstracts';

.Home {
  padding: $page-margin-x-sm * 2 $page-margin-x-sm 0 $page-margin-x-sm;
}

.Home__content {
  > * {
    text-align: justify;
    text-justify: auto;
    &:first-child {
      margin-top: 0;
    }
  }
}

.Home__socials {
  text-align: center;
  padding: $page-margin-x-sm * 2 0 $page-margin-x-sm * 2;

  :not(:last-child) {
    padding-right: 2rem;
  }

  :nth-child(n) {
    text-decoration: none;
    color: $black;
  }
}

@include tablet {
  .Home {
    padding: $page-margin-x-md * 2;
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .Home__content {
    > * {
      &:not(:last-child) {
        margin-bottom: $page-margin-x-md;
      }
    }
  }

  .Home__socials {
    padding: $block-margin-x-md 0;

    :not(:last-child) {
      padding-right: 4rem;
    }
  }
}

@include desktop {
  .Home {
    width: $one_half;
    margin: 20vh auto;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .Home__socials {
    font-size: 2rem;
    padding-bottom: 0;
  }
}

@include desktop-xl {
  .Home {
    width: $one_third;
  }
}
