@import '~assets/styles/abstracts';

.root {
  @include tablet {
    margin: 0 $block-margin-x-md;
  }
}

.legend {
  margin: 1rem 0 0;

  > * {
    margin: 0;
  }

  @include desktop {
    margin: 1rem 0 0;
    font-size: 1.4rem;
  }
}
