@import '../../../assets/styles/abstracts';

.TextMedias {
  margin: $block-margin-x-sm 0;

  > * {
    margin: 0 0 $block-margin-x-sm;
    width: 100%;

    &:last-child {
      margin: 0;
    }
  }
}

.Media__legend {
  margin: 1rem 0 0;

  > * {
    margin: 0;
  }
}

@include tablet {
  .TextMedias {
    margin: $block-margin-x-md 0;
  }

  .TextMedias--single-portrait,
  .TextMedias--row {
    > * {
      width: $four_sixth;
      margin: 0 auto;

      &:last-child {
        margin: 0 auto;
      }
    }
  }

  .TextMedias--single-landscape {
    .Media__legend {
      margin: 2rem 0 0;
    }
  }
}

@include desktop {
  .TextMedias {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-height: 75%;
    overflow: hidden;
    margin: 0;

    &--column {
      align-items: center;

      &.landscape-first {
        > * {
          &:nth-child(1) {
            width: $four_sixth;
          }

          &:nth-child(2) {
            width: 40%;
          }
        }
      }

      &.portrait-first {
        > * {
          &:nth-child(1) {
            width: 40%;
          }

          &:nth-child(2) {
            width: $four_sixth;
          }
        }
      }
    }

    &--row {
      flex-direction: row;
      overflow: visible;

      > * {
        margin: 0 $block-margin-x-sm * 2 0 0;

        &:last-child {
          margin: 0;
        }
      }

      .Media__image {
        height: 100%;
        width: auto;
      }
    }

    &--single-portrait {
      width: 75%;
    }
  }

  .Media__legend {
    margin: 1rem 0 0;
    font-size: 1.4rem;
  }
}

@include desktop-xxl {
  .TextMedias--single-portrait {
    width: $four_sixth;
  }
}
