@import '~assets/styles/abstracts';

.tm {
  margin: $block-margin-x-sm 0;

  > * {
    margin-bottom: $block-margin-x-sm;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include tablet {
    margin: $block-margin-y-md 0;

    > * {
      margin-bottom: $block-margin-x-md;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 0;
  }
}

.tm.portraitSingle {
  width: 100%;

  @include desktop {
    width: 75%;

    @include desktop-xxl {
      width: $four_sixth;
    }
  }
}

.tm.portraitLongSingle {
  width: 100%;

  @include desktop {
    width: $four_sixth;

    @include desktop-xxl {
      width: 50%;
    }
  }
}

@include desktop {
  .tm.portraitSingle,
  .tm.portraitLongSingle,
  .tm.row,
  .tm.column {
    .media {
      display: grid;
      grid-template-rows: 1fr auto;
      height: 100%;
    }
  }

  .tm.landscapeSingle {
    width: 100%;
    display: flex;
    justify-content: center;

    @include desktop-xxl {
      width: $four_sixth;
    }
  }

  .tm.row {
    $gutter: $block-margin-x-md;

    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 50%;
    margin: 0 (-$gutter/2);

    > * {
      padding: 0 $gutter/2;
    }
  }

  .tm.column {
    align-items: center;
    display: grid;
    grid-template-rows: 50% 50%;
    width: 70%;

    > * {
      margin: 0 auto;
    }

    &.landscapeFirst {
      > * {
        &:nth-child(1) {
          width: 100%;
          margin: 0 0 2rem;
        }

        &:nth-child(2) {
          width: 50%;
        }
      }
    }

    &.portraitFirst {
      > * {
        &:nth-child(1) {
          width: 50%;
          margin: 0 0 2rem;
        }

        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }

  // .tm.landscapeFirst {
  //   > * {
  //     &:nth-child(1) {
  //       width: $four_sixth;
  //     }

  //     &:nth-child(2) {
  //       width: 40%;
  //     }
  //   }
  // }

  // .tm.portraitFirst {
  //   > * {
  //     &:nth-child(1) {
  //       width: $four_sixth;
  //     }

  //     &:nth-child(2) {
  //       width: 40%;
  //     }
  //   }
  // }
}
