@mixin font-face($font-family, $file-name, $type) {
  $baseDir: '/fonts';
  $full-name: '#{$file-name}-#{$type}';

  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    src: url('#{$baseDir}/#{$file-name}/#{$full-name}.ttf') format('truetype');
    font-display: swap;
  }
}

// TimesNewRoman
@include font-face('TimesNewRoman', 'TimesNewRoman', 'Regular');
@include font-face('TimesNewRoman-Bold', 'TimesNewRoman', 'Bold');
@include font-face('TimesNewRoman-Bold-Italic', 'TimesNewRoman', 'Bold-Italic');
@include font-face('TimesNewRoman-Italic', 'TimesNewRoman', 'Italic');

// AveriaSerif
@include font-face('AveriaSerif-Regular', 'AveriaSerif', 'Regular');
@include font-face('AveriaSerif-Bold', 'AveriaSerif', 'Bold');
@include font-face('AveriaSerif-Bold-Italic', 'AveriaSerif', 'Bold-Italic');
@include font-face('AveriaSerif-Italic', 'AveriaSerif', 'Italic');