@import '~assets/styles/abstracts';

.root {
  position: absolute;
  z-index: 5000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;

  .button {
    color: $black;
    background: none;
    border: 0;
    font-size: 2.5rem;
    text-decoration: none;

    &FR {
      margin-left: -7rem;
      margin-bottom: 1rem;
      font-family: $times;
    }

    &ES {
      margin-left: 7rem;
      font-family: $averia;
    }

    @include desktop {
      margin: 0;
      height: 100%;
      width: 50%;
      display: grid;
      place-content: center;

      &FR {
        padding: 0 0 5rem;
        font-size: 2.75rem;
      }

      &ES {
        padding: 5rem 0 0;
      }

      &:hover {
        background: $black;
        color: $white;
        z-index: 10;
        transition: background $transition-duration-fast ease-in-out;
      }
    }
  }

  @include desktop {
    flex-direction: row;
  }
}
