@import '../../../assets/styles/abstracts';

.Content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: content-box;
  padding: 0 $page-margin-y-sm 0 $page-margin-x-sm;
}

.Content--ES {
  font-family: $averia;
}

.Content--FR {
  font-family: $times;
}

@include desktop {
  .Content {
    overflow-y: hidden;
    padding: 0;
  }
}
