@import '../../../assets/styles/abstracts';

.ArticleHeader {
  display: flex;
  flex-direction: column;
}

.ArticleHeader__letter {
  text-align: center;
  margin: 0 0 0.7rem;

  &--ES {
    font-family: $averiaItalic;
  }

  &--FR {
    font-family: $timesItalic;
  }
}

.ArticleHeader__title {
  text-align: center;
  margin: 0 0 1.2rem;

  &--ES {
    font-family: $averiaBold;
  }

  &--FR {
    font-family: $timesBold;
  }
}

.ArticleHeader__pdf {
  width: 9rem;
  margin: 0 auto;
  background: none;
  color: $black;
  border: 0.1rem solid $black;
  border-radius: $block-border-radius;
  text-align: center;
  text-decoration: none;
  padding: 0.3rem 1rem;

  &:hover {
    color: $black;
    text-decoration: underline;
    background: none;
  }
}

@include tablet {
  .ArticleHeader__title {
    margin: 0 0 2rem;
  }
}

@include desktop {
  .ArticleHeader__pdf {
    margin: 0 auto 3rem;
  }
}
