@import '~assets/styles/abstracts';

.root {
  display: flex;
  flex-direction: column;
}

.letter {
  text-align: center;
  margin: 0 0 0.7rem;
}

.title {
  text-align: center;
  margin: 0 0 1.2rem;

  @include tablet {
    margin: 0 0 2rem;
  }
}

.pdf {
  width: 9rem;
  margin: 0 auto;
  background: none;
  color: $black;
  border: 0.1rem solid $black;
  border-radius: $block-border-radius;
  text-align: center;
  text-decoration: none;
  padding: 0.3rem 1rem;
  white-space: nowrap;

  &:hover {
    color: $black;
    text-decoration: underline;
    background: none;
  }
}

@include tablet {
  .title {
    margin: 0 0 2rem;
  }
}

@include desktop {
  .pdf {
    margin: 0 auto 3rem;
  }
}
