@import '~assets/styles/abstracts';

.root {
  height: $letter-height-sm;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $neutral-grey;
  font-size: 1.6rem;
  text-decoration: none;

  &.active {
    color: $black;
  }

  @include tablet {
    height: $letter-height-md;
    font-size: 2rem;
  }

  @include desktop {
    height: $letter-height-lg;
    font-size: 2rem;
  }
}
