@import '../../../assets/styles/abstracts';

.Preview {
  position: relative;
  display: flex;
  justify-content: flex-end;
  left: 0;
  top: 0;
  right: 100%;
  z-index: 5;
  border: 0;
  padding: 0 2rem;
  box-sizing: border-box;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), $white);

  width: 100%;
  height: 100%;
}

.Preview--visible {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
}
.Preview--hide {
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.5s cubic-bezier(0.96, 0, 1, 1);
}

.Preview__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Preview__list--start {
  justify-content: flex-start;
}

.Suggestions,
.Suggestions__prev,
.Suggestions__next {
  position: relative;
  right: $app_alphabet;
  display: flex;
  flex-direction: column;

  .Word__button {
    background: none;
    border: 0;
  }
}

.Suggestions {
  min-height: $letter-height;

  .Word__button {
    color: $black;
  }

  &--ES {
    .Word__button {
      font-family: $averiaBold;
    }
  }

  &--FR {
    .Word__button {
      font-family: $timesBold;
    }
  }
}

.Suggestions__prev,
.Suggestions__next {
  .Word__button {
    color: $neutral-grey;
  }

  &--ES {
    .Word__button {
      font-family: $averia;
    }
  }

  &--FR {
    .Word__button {
      font-family: $times;
    }
  }
}

@include tablet {
  .Suggestions,
  .Suggestions__prev,
  .Suggestions__next {
    right: $app_alphabet_md;
  }

  .Suggestions {
    min-height: $letter-height_md;

    &--ES {
      min-height: $letter-height_md--ES;
    }
  }
}

@include desktop {
  .Preview {
    padding: 0;
  }

  .Preview__list {
    width: $one_quarter;
    align-items: flex-end;
    padding: 0 2rem;
  }

  .Suggestions,
  .Suggestions__prev,
  .Suggestions__next {
    right: $app_alphabet_lg;

    .Word__button {
      font-size: 1.8rem;
    }
  }

  .Suggestions {
    min-height: $letter-height_lg;

    &--ES {
      min-height: $letter-height_lg--ES;
    }
  }
}

@include desktop-xl {
  .Suggestions {
    min-height: $letter-height_xl;

    &--ES {
      min-height: $letter-height_xl--ES;
    }
  }
}
