@import '~assets/styles/abstracts';

$previewWidth: calc(100vw - #{$alphabet-width-sm});

.root {
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), $white);
  border: 0;
  text-align: right;
  padding: 0 $block-margin-x-sm 0 0;
  display: grid;
  grid-template-columns: 1fr 40%;

  @include tablet {
    padding: 0 $block-margin-x-md;
  }

  @include desktop {
    padding: 0 $block-margin-x-lg;
    grid-template-columns: 1fr 20%;
  }
}

.visible {
  animation: slideIn $transition-duration-medium cubic-bezier(0, 0.52, 0, 1)
    forwards;
  @keyframes slideIn {
    0% {
      opacity: 0;
      width: auto;
    }
    100% {
      opacity: 1;
      width: $previewWidth;
    }
  }

  @include desktop {
    animation: slideIn $transition-duration-fast cubic-bezier(0, 0.52, 0, 1)
      forwards;
  }
}
.hide {
  animation: slideOut $transition-duration-fast cubic-bezier(0.96, 0, 1, 1)
    forwards;
  @keyframes slideOut {
    0% {
      opacity: 1;
      width: $previewWidth;
    }
    100% {
      opacity: 0;
      width: auto;
    }
  }
}

.preview {
  width: auto;
  grid-row: 1;
}

.close {
  border: 0;
  background: none;
  margin: 0;
}
