@import '../../../assets/styles/abstracts';

.Article {
  padding: $page-margin-y-sm 0;
}

.Article__header {
  display: flex;
  flex-direction: column;
}

.Article__letter {
  text-align: center;
  margin-bottom: 0.7rem;

  &--ES {
    font-family: $averiaItalic;
  }

  &--FR {
    font-family: $timesItalic;
  }
}

.Article__title {
  text-align: center;
  margin-bottom: 1.2rem;

  &--ES {
    font-family: $averiaBold;
  }

  &--FR {
    font-family: $timesBold;
  }
}

.Article__pdf {
  width: 10%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.Content__text {
  text-align: justify;
  text-justify: auto;
}

.Media__legend {
  margin-top: 0.5rem;

  > * {
    margin: 0;
  }
}

.Article__definition {
  padding-top: 2rem;
}

.Definition__name {
  background: $black;
  color: $white;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.7;
  border-radius: 0.3rem;
  display: inline-block;
}

.Definition__subtype {
  font-family: $timesItalic;
}

.Definition__link {
  color: $black;
  text-decoration: none;
  font-family: $timesItalic;
}

@include tablet {
  .Article {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .Article__pdf {
    width: 5%;
  }

  .Content__media {
    display: flex;
    align-items: flex-end;
    padding-left: 5rem;

    > * {
      &:nth-child(1) {
        margin-right: 1.5rem;
      }

      &:nth-child(2) {
        flex-shrink: 0;
        max-width: 15rem;
      }
    }

    .Media__image {
      width: 66%;
    }
  }

  .Content__media--full {
    padding-left: 0;
  }
}

@include desktop {
  .Article {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .Article__pdf {
    width: 5%;
  }

  .Content__media {
    display: flex;
    align-items: flex-end;
    padding-left: 5rem;

    > * {
      &:nth-child(1) {
        margin-right: 1.5rem;
      }

      &:nth-child(2) {
        flex-shrink: 0;
        max-width: 15rem;
      }
    }
  }

  .Content__media--full {
    padding-left: 0;
  }
}
