// stylelint-disable declaration-no-important
@import '../../../assets/styles/abstracts';

.ArticleDesktop {
  display: flex;
  justify-content: center;
}

.ArticleDesktop__left,
.ArticleDesktop__right {
  height: 100vh;
  width: 50%;
}

.ArticleDesktop__left {
  overflow-x: hidden;
  overflow-y: scroll;

  .ArticleContent {
    padding-top: 0 !important;
  }
}

.ArticleDesktop__right {
  position: relative;

  .ArticleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    > * {
      margin-top: 0 !important;
    }
  }
}
