@import '../../../assets/styles/abstracts';

.Alphabet__preview {
  width: $app_content;
  height: $alphabet-height;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;

  &--ES {
    height: $alphabet-height--ES;
  }
}

.Alphabet__preview--display {
  left: -$app_alphabet;
}

.Alphabet__letters {
  width: $app_alphabet;
  height: $alphabet-height;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: $footer-height-sm;
  background: $black;
  z-index: 4;

  &--ES {
    height: $alphabet-height--ES;
  }
}

.Alphabet__letters--display {
  left: $app_content;
}

@include tablet {
  .Alphabet__preview {
    width: $app_content_md;
    height: $alphabet-height_md;
  }

  .Alphabet__preview--display {
    left: -$app_alphabet_md;
  }

  .Alphabet__letters {
    width: $app_alphabet_md;
    height: $alphabet-height_md;
    padding-bottom: $footer-height-md;
  }

  .Alphabet__letters--display {
    left: $app_content_md;
  }
}
