@import '~assets/styles/abstracts';

.root {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: auto;
  display: grid;
  grid-template-columns: 1fr auto;
}

.letters {
  width: $alphabet-width-sm;
  padding: 0 0 $footer-height-sm;
  background: $black;
  z-index: 100;

  @include tablet {
    width: $alphabet-width-md;
    padding: 0 0 $footer-height-md;
  }

  @include desktop {
    width: $alphabet-width-lg;
    padding: 0;
  }
}
