@mixin font-face($font-family, $file-name, $type) {
  $baseDir: '/fonts';
  $full-name: '#{$file-name}-#{$type}';
  @font-face {
    font-family: $font-family;
    src: url('#{$baseDir}/#{$file-name}/#{$full-name}.ttf') format('truetype');
  }
}

//--------- Media queries ---------//
@mixin desktop-lg() {
  @media (min-width: $breakpoint-lg-min) {
    @content;
  }
}

@mixin desktop-sm() {
  @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-max) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $breakpoint-md-min) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-md-max) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: $breakpoint-xs-max) {
    @content;
  }
}

// Input Placeholder style
@mixin placeholder() {
  &::-webkit-input-placeholder {
    // Chrome/Opera/Safari
    @content;
  }
  &::-moz-placeholder {
    // Firefox 19+
    @content;
  }
  &:-ms-input-placeholder {
    // IE 10+
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin containerPadding {
  @include desktop {
    padding-left: $page-margin-x-lg;
    padding-right: $page-margin-x-lg;
  }

  @include tablet {
    padding-left: $page-margin-x-md;
    padding-right: $page-margin-x-md;
  }

  @include mobile {
    padding-left: $page-margin-x-sm;
    padding-right: $page-margin-x-sm;
  }
}

@mixin revertContainerPadding {
  @include desktop {
    margin-left: -$page-margin-x-lg;
    margin-right: -$page-margin-x-lg;
  }

  @include tablet {
    margin-left: -$page-margin-x-md;
    margin-right: -$page-margin-x-md;
  }

  @include mobile {
    margin-left: -$page-margin-x-sm;
    margin-right: -$page-margin-x-sm;
  }
}

@mixin blockMargin($dir) {
  @include desktop {
    margin-#{$dir}: $block-margin-y-lg;
  }

  @include tablet {
    margin-#{$dir}: $block-margin-y-md;
  }

  @include mobile {
    margin-#{$dir}: $block-margin-y-sm;
  }
}
