// Layout container
.container {
  overflow: hidden; // This is needed so that the full-width backgrounds (like the one on .cards-slider) don't overflow.

  // Grey Background
  &--grey {
    background: $neutral-white;
  }

  // Gradients Background
  &--three-quarters-grey {
    background: linear-gradient(180deg, $white 25%, $neutral-white 75%);
  }
  &--half-grey {
    background: linear-gradient(180deg, $white 50%, $neutral-white 50%);
  }

  &--quarter-grey {
    background: linear-gradient(180deg, $white 75%, $neutral-white 25%);
  }

  @include desktop {
    padding: $page-margin-y-lg $page-margin-x-lg;

    &:not(.container--no-v-gutter) {
      > :not(.width-container):not(:first-child),
      > .width-container > :not(:first-child) {
        margin-top: $block-margin-y-lg;
      }
    }
  }

  @include tablet {
    padding: $page-margin-y-md $page-margin-x-md;

    &:not(.container--no-v-gutter) {
      > :not(.width-container):not(:first-child),
      > .width-container > :not(:first-child) {
        margin-top: $block-margin-y-md;
      }
    }
  }

  @include mobile {
    padding: $page-margin-y-sm $page-margin-x-sm;

    &:not(.container--no-v-gutter) {
      > :not(.width-container):not(:first-child),
      > .width-container > :not(:first-child) {
        margin-top: $block-margin-y-sm;
      }
    }
  }

  @include mobile {
    &--quarter-grey {
      background: $neutral-white;
    }
  }
}

.width-container {
  max-width: $page-max-width;
  margin-right: auto;
  margin-left: auto;
}
