@import '1-settings';

// Export variables to the JS environment.
:export {
  // ALPHABET
  ALPHABET_HEIGHT: $alphabet-height;
  ALPHABET_HEIGHT_LG: $alphabet-height_lg;
  ALPHABET_HEIGHT_MD: $alphabet-height_md;
  ALPHABET_HEIGHT_XL: $alphabet-height_xl;

  // BREAKPOINTS
  BK_LG_MAX: $breakpoint-lg-max;
  BK_LG_MIN: $breakpoint-lg-min;
  BK_MD_MAX: $breakpoint-md-max;
  BK_MD_MIN: $breakpoint-md-min;
  BK_SM_MAX: $breakpoint-sm-max;
  BK_SM_MIN: $breakpoint-sm-min;
  BK_XL_MIN: $breakpoint-xl-min;

  // LETTERS
  //// FR
  LETTER_HEIGHT: $letter-height;
  LETTER_HEIGHT_LG: $letter-height_lg;
  LETTER_HEIGHT_MD: $letter-height_md;
  LETTER_HEIGHT_XL: $letter-height_xl;

  //// ES
  LETTER_HEIGHT__ES: $letter-height--ES;
  LETTER_HEIGHT_LG__ES: $letter-height_lg--ES;
  LETTER_HEIGHT_MD__ES: $letter-height_md--ES;
  LETTER_HEIGHT_XL__ES: $letter-height_xl--ES;
}
