@import '1-settings';

// Export variables to the JS environment.
:export {
  // BREAKPOINTS
  BREAKPOINT_LG: $breakpoint-lg-max;
  BREAKPOINT_MD: $breakpoint-md-max;
  BREAKPOINT_SM: $breakpoint-sm-max;
  BREAKPOINT_XS: $breakpoint-xs-max;
}
