// stylelint-disable declaration-no-important
@import '../../../assets/styles/abstracts';

@include desktop {
  .ArticleContent {
    height: 100%;

    .text-anchor:nth-child(2) {
      margin-top: 0 !important;
    }

    .media-anchor {
      display: none;
      position: relative;
      flex-direction: column;
      height: 100%;
      width: 100%;

      &--active {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
