@import '../../../assets/styles/abstracts';

.Text {
  text-align: justify;
  text-justify: auto;

  &--empty {
    display: none;
    height: 4rem;
  }
}

@include desktop {
  .Text--empty {
    display: block;
  }
}
